<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&family=Red+Hat+Text:wght@300&display=swap" rel="stylesheet">
    
    <title>My Polls</title>
</head>
<body>
    {% include 'polls/header.html' %}
    <div id="content">
        <!--
            New question creattion form
            question_text, pub_date, end_date
        -->
        <form action="" method="post">
        {% csrf_token %}
        <fieldset>
            {% if error_message %} <p><strong>{{ error_message }}</strong></p> {% endif %}
            <input type="text" name="question_text" id="question_text">
            <input type="datetime-local" name="pub_date" id="pub_date">
            <input type="datetime-local" name="end_date" id="end_date">
            <input type="submit" value="Add">
        </fieldset>
        </form>
        <!--
            Displaying questions
            question_list
        -->
        {% for question in question_list %}
            <a href="{% url 'polls:vote' question.id %}">
                <div class="question_div">
                    <span class="question_text">{{ question.question_text }}</span>
                    <span class="question_votes">{{ question.total_votes }}</span>
                    <span class="question_votes">{{ question.status }}</span>
                </div>
            </a>
        {% endfor %}
    </div>
    {% include 'polls/footer.html' %}
</body>
</html>
